body {
    margin: 0;
    width:100vw;
    font-family: sans-serif;
    color: black;
   
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #D62D20;
}
#header {
    padding: 20px 0 20px 20px;
    background-color: white;
    
}
 #header h1 {
     margin: 0;
     text-decoration: none;
     color: #D62D20;
 }
#menu {
    background-color: #D62D20;
    color:white;
    width: 100%;
    padding: 5px 10px 5px 10px;
    
}

#menu a {
    display: inline-block;
    padding: 3px 10px 3px 10px;
    color:white;
    text-decoration: none;
}

#menu a:hover {
    background-color: #d34b46;
}

#large-header {
    font-size: 100px;
    margin: 1px;
    color:#D62D20;
}
.nav {
    margin: 0 1px 0 0;
    padding: 1em 0;
    width: 200px;
    border-right: 1px dotted grey;
    float: left;
}

.nav li {
    list-style: none;
    padding: 5px 0 5px 0;
}

.nav a {
    padding: 5px;
}
.content {
    padding: 1.5em;
    margin: 0 0 0 200px;
    padding: 1.5em;
    max-width: 50em;

}

.navimage {
    width: 180px;
    padding: 0 10px 0 10px;
    border-radius: 50%;
}

 .boxmodel {
    margin: 30px 0 0 0;
    text-align: center;
    width: 100%;
    height: 100%;
     
 }

 .boxmodelmargin {
    background-color: white;
    padding: 20px 45px 45px 45px;
    border: 2px dashed gray;
 }

.boxmodellabel {
    margin: 0 0 10px 0;
}

 .boxmodelborder {
    background-color: #D62D20;
    padding: 5px 30px 30px 35px;
    
    
 }

 .boxmodelpadding {
    padding: 20px 45px 45px 45px;
    background-color: white;
    
 }

 .boxmodelcontent {
    padding: 20px 45px 45px 45px;
    background-color: white;
    border: 2px dashed grey;
    
}

.highlighted {
    background-color: #FFA700;
}

.demodiv {
    margin: 30px;
    border: 4px solid #D62D20;
    padding: 60px;
}